*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Barlow, italic;
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgb(19, 8, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: sticky;
    
}
.navbar__menu {
    color: rgb(255, 255, 255);
    display: flex;
    text-align: left;
    list-style: none;
}
.navbar__links{
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 35px;
    font-size: 25px;
}
p{
    font-size: 30px;
    margin: 30px;
}

h2{
    font-size: 50px;
    margin: 20px;

}

#home{
    padding: 70px 0px 0px 0px;
}

.resume{
    margin: 30px;
    font-size: 30px;
}
